#myform{
    width: 35%;
    margin : auto;
    margin-top: 30px;
    border: 1px solid rgb(224, 215, 215);
    /* height: 600px; */
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px #d1caca;
    padding: 7px;
}
#tabs {
    border: 1px solid rgb(221, 217, 217);
    padding: auto;
    background-color: rgb(231, 224, 224);
    font-size: 16px;
    color :rgb(221, 217, 217);
    border-radius: 3px;
    margin: 10px;
}
.flex-sm-fill {
    margin: 3px;
    color: rgb(94, 91, 91);
    font-weight: 500;
    cursor: pointer;
}
.flex-sm-fill:hover {
    background-color: #0d6efd;
    color :rgb(255, 251, 251);
}
#bucket {
    padding: 10px;
    width: 500px;
    border-radius: 3px;
    margin: 3px;
    padding: 10px;
    margin : auto;
}

label {
    padding: 4px;
    font-weight: 500;
}

.form-control {
    color: black;
    border: 1px solid rgb(121, 121, 121);
}
#hdr {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(109, 103, 92);
    font-weight: 500;
    
}
label {
    margin-bottom: 4px;
}
hr {
    margin-top: -3px;
    
}

#icon  {
    width: 50px;
    height: 50px;
    margin-right: 10px; 
}
.btn {
    margin-top: 8px;
    margin: 2px;
    width: 100%;
    font-size: 20px;
    flex: content;
}

#log {
    flex-wrap: wrap;
    /* overflow-y: hidden; */
    overflow: scroll;
    width: 100%;
    height: 300px;
} 
h4 {
    float: left;
}

#res {
    text-align: center;
    width: 80px;
    /* border: 1px solid gray; */
    margin: 1px;
}
.d-flex {
    width: 100%;
    margin: 4px;
    border: 2px solid rgb(124, 124, 124);
    padding: 2px;
    border-radius: 3px;
}